# Configuration

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import youtubeFns as yt

# Channel Analysis

In [6]:
url = 'https://www.youtube.com/watch?v=1CM7ibbbvI4'

In [7]:
channel_id = yt.retrieve_channel_id(url)

In [12]:
stats = yt.retrieve_channel_stats(channel_id)

In [9]:
df = yt.retrieve_channel_videos(channel_id)

In [11]:
stats

{'username': 'Magnus Midtbø',
 'channel_id': 'UC_gSotrFVZ_PiAxo3fTQVuQ',
 'channel_views': '325754987',
 'subscriber': '1970000',
 'video_count': '380'}

In [10]:
df.head()

,id,title,publishTime,duration,views,likes,comments,day_name,weekday_name,duration_min,video_type
0,IewIVZgJQm4,FREEZING DEEP WATER CLIMB! #climbing #bouldering,2023-10-20 16:10:15+00:00,0 days 00:01:00,85421,4381,52,Friday,Friday,1.000000,short
1,1CM7ibbbvI4,People train for years to do this - The Spa...,2023-10-16 17:22:29+00:00,0 days 00:21:23,601649,22099,1007,Monday,Monday,21.383333,standard
2,uUTFigWgRvk,How Good will CHRIS HERIA be at Climbing? #cli...,2023-10-13 15:56:38+00:00,0 days 00:01:00,110367,4411,36,Friday,Friday,1.000000,short
3,tbEgiTkc2aQ,CLIMBING with NORWAY'S STRONGEST MAN! #boulder...,2023-10-09 16:45:51+00:00,0 days 00:00:57,234529,9195,62,Monday,Monday,0.950000,short
4,t5hzMLssFUA,This is how you train to become the World’s st...,2023-10-06 16:51:45+00:00,0 days 00:14:47,325104,18999,809,Friday,Friday,14.783333,standard

# Visuals

### Distribution of Videos Posted by Weekday Name

In [ ]:
df['weekday_name'].value_counts().sort_index().plot(kind='bar')